# Lending Club Case Study

In [43]:
# Importing core libraries required for the case study
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
import seaborn as sea

## Loading Data

In [44]:
# Loading the complete dataset into variable df
df = pd.read_csv('data/loan.csv', low_memory=False)

# Save the original row count in a variable
rowcount = len(df)

## Data Cleaning

In [45]:
# Dropping all the columns whose all the records are NaN or Null
df1 = df.dropna(axis='columns', how="all")

# Dropping all columns with all zero values
df1 = df1.loc[:, (df1 != 0).any(axis=0)]
df1.shape

# Dropping columns who dont contribute to the overall analysis as they are either transactional ir discriptive in nature
df1 = df1.drop(['id','member_id', 'url', 'emp_title', 'desc', 'title'],  axis=1)

In [46]:
# Function to Drop all columns who have constant values (ignoring NA value)
def drop_constant_columns(df):
    for c in df.columns:
        if df[c].nunique(dropna=True) == 1:
            df = df.drop(c, axis=1)
    return df

# Drop all constant columns from df1 (definition of constant is constant value across the rows, this ignores Na values)
df1 = drop_constant_columns(df1)

In [47]:
# Printing column info to analyse missing values, empty values in a column
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 42 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                39717 non-null  int64
 1   funded_amnt              39717 non-null  int64
 2   funded_amnt_inv          39717 non-null  float64
 3   term                     39717 non-null  object
 4   int_rate                 39717 non-null  object
 5   installment              39717 non-null  float64
 6   grade                    39717 non-null  object
 7   sub_grade                39717 non-null  object
 8   emp_length               38642 non-null  object
 9   home_ownership           39717 non-null  object
 10  annual_inc               39717 non-null  float64
 11  verification_status      39717 non-null  object
 12  issue_d                  39717 non-null  object
 13  loan_status              39717 non-null  object
 14  purpose                  39717 non-null  object
 15  zip_code                 39717 non-null  object
 16  addr_state               39717 non-null  object
 17  dti                      39717 non-null  float64
 18  delinq_2yrs              39717 non-null  int64
 19  earliest_cr_line         39717 non-null  object
 20  inq_last_6mths           39717 non-null  int64
 21  mths_since_last_delinq   14035 non-null  float64
 22  mths_since_last_record   2786 non-null   float64
 23  open_acc                 39717 non-null  int64
 24  pub_rec                  39717 non-null  int64
 25  revol_bal                39717 non-null  int64
 26  revol_util               39667 non-null  object
 27  total_acc                39717 non-null  int64
 28  out_prncp                39717 non-null  float64
 29  out_prncp_inv            39717 non-null  float64
 30  total_pymnt              39717 non-null  float64
 31  total_pymnt_inv          39717 non-null  float64
 32  total_rec_prncp          39717 non-null  float64
 33  total_rec_int            39717 non-null  float64
 34  total_rec_late_fee       39717 non-null  float64
 35  recoveries               39717 non-null  float64
 36  collection_recovery_fee  39717 non-null  float64
 37  last_pymnt_d             39646 non-null  object
 38  last_pymnt_amnt          39717 non-null  float64
 39  next_pymnt_d             1140 non-null   object
 40  last_credit_pull_d       39715 non-null  object
 41  pub_rec_bankruptcies     39020 non-null  float64
dtypes: float64(17), int64(8), object(17)
memory usage: 12.7+ MB
None

## Saving Data Snapshot

In [48]:
# Save a cleaned snapshot to disk for some manual analysis
df1.to_csv('./data/loan_clensed.csv')